{% extends "setting.html" %}

{% block slide_bar %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <!--<li><a href='{{url_for("setting.device")}}'>设备状态</a></li>-->
        <li><a href='{{url_for("setting.switch")}}'>功能开关</a></li>
        <li><a href='{{url_for("setting.network")}}'>网络设置</a></li>
        <li><a href='{{url_for("setting.safe")}}'>安全设置</a></li>
        <li><a href='{{url_for("setting.reset")}}'>重置</a></li>
    </ul>
</div>
{% endblock %}

{% block setting_content %}

<p>操作成功！</p>

{% endblock %}